section.happy_customer .section-title h3 {
     color: #fff;
     margin-bottom: 65px;
     position: relative;
 }
 
 section.happy_customer {
     background: #1950a2;
     /* text-align: center; */
 }
 
 section.happy_customer p {
     color: #f2f2f2;
     font-size: 15px;
     font-weight: 500;
     line-height: 24px;
     margin-bottom: 30px;
 }
 
 .customer-details h5 > span {
     font-size: 15px;
     line-height: 24px;
     display: block;
     color: #cccccc;
     margin-top: 15px;
     font-weight:400;
 }
 
 .white_cricle {
     width: 80px;
     height: 80px;
     background: #fff;
     border-radius: 50%;
     margin-left: 50%;
     transform: translateX(-50%);
     margin-bottom: 36px;
 }
 
 section.happy_customer .section-title h3::after {
     position: absolute;
     left: 50%;
     background: #fff;
     content: '';
    
 }

 /* carousel */
 .happy-customer-active.owl-carousel .owl-nav div {
     position: absolute;
     font-size: 30px;
     color: #fff;
     top: 7%;
     left: 38%;
     width: 0;
     height: 0;
     background: 0;
 }
 
 .happy-customer-active.owl-carousel .owl-nav .owl-next {
     right: 40%;
     left: auto;
 }
